body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 16px;
}

#refresh-jobs {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
